<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Kef Lahayot Suite">

     <!--Define a listener to capture test execution events-->
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="Single Bug Test">
        <classes>
            <class name="tests.LinksPageTests">
                    <methods>
                        <include name="pageWithEmptySection"/>
                    </methods>
            </class>
        </classes>
    </test>
</suite>